@import "tailwindcss";

body {
  background: radial-gradient(circle, rgb(2, 2, 17), rgb(4, 4, 98));
}

.b1 {
  border: 2px solid;
  border-image: radial-gradient(circle, rgb(12, 111, 232), rgb(9, 9, 224)) 1;
  padding: 6px 18px;
}

.b2 {
  background-color: blue;
  padding: 6px 18px;
}

.discover{
  background-color: blue;
  border-radius: 10px;
}

.create{
border: 1 solid blue;
  border-radius: 12px;
}

.col_3{
  border: 1 px solid white;
  border-radius: 12px;
}

.img img{
  width: 60px;
  height: 60px;
  border-radius: 50%;
  overflow: hidden;
  object-fit: cover;
}

.main_img{
 width: 450px;
 background-color: blueviolet;
 object-fit: cover;
 overflow: hidden;
 border-radius: 20px;
}

.main_img a{
  border-radius: 10px;
}

