.nav{
  display: flex;
  justify-content: space-between;
  gap: 1em;
  padding: 22px 26px;
  background-color: #3e3d3d;
  box-shadow: 2px 2px 5px rgba(239, 4, 216, 0.5);
}

.nav .brand {
  font-size: 1.5em;
  font-weight: 600;
  color: #fff;
}

.nav ul {
  display: flex;
  gap: 1em;
  text-decoration: none;
  list-style: none;
  color: #fff;
  font-size: 1em;
}

.nav ul li {
  padding: 0.5em 1em;
  border-radius: 8px;
  transition: background-color 0.25s;
}

.nav ul li:hover {
  background-color: #fb0cef;
  cursor: pointer;
}