*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
}

body{
   background-color: #242424;
}

h1 {
  font-size: 3.2em;
  color: white;
}

.nav{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 19px 15px;
  background-color: rgb(2, 97, 141);
}

.link{
  display: flex;
  gap: 35px;
}

